#root {
  max-width: 317px;
  margin: 0 auto;
  padding: 4rem 4rem;
  text-align: center;
  background-color: #c59686;
  color: #70554c;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

img {
  width:225px;
  margin:0;
}

h1 {
  color: #ffffff;
  font-size: 3em;
  line-height: 1;
}

h2 {
  color: #ffffff;
  margin: 0;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
  margin: 5px auto;
}

.website-link {
  color: #000000;
  font-size: 0.9em;
  margin: 0 0 15px 0;
  cursor: pointer;
}

.email-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
  gap: 5px;
  color: white;
  background-color: #70554c;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.email-btn:hover,
.email-btn:active {
  background-color: #c59686;
}

.email-btn:focus,
.email-btn:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
}

.email-icon {
  width: 20px;
  height: auto;
}


.info {
  margin: 34px auto;
}

h2,
.text {
  text-align: left;
}

.text {
  font-size: 0.9em;
  line-height: 1.4;
  font-weight: 400;
  margin: 8px 0 25px 0;
  color: #000000;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: .5rem;
  background-color: #70554c;
  border-radius: 10px;
}

.social-media-icon {
  width: 55px;
  cursor: pointer;
  height: auto;
  fill: white;
}

.social-media-icon:hover,
.social-media-icon:active {
  fill: #c59686;
  transition: fill 0.3s ease,transform 0.3s ease;
  transform: scale(1.15)
}