:root {
  font-family: "Outfit", sans-serif;
  background-color: #c59686;
  background-image: url(/images/1188966_794.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}